body {
  font-family: '游ゴシック体', 'Yu Gothic', YuGothic, 'Helvetica Neue', Arial,
    'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
  font-weight: 500;
}

@media all and (-ms-high-contrast: none) {
  body {
    font-family: 'メイリオ', 'Meiryo', sans-serif;
  }
}

.title-heading {
  font-size: $font-mega;
  text-align: center;
  margin-bottom: 2rem;

  &::before {
    content: attr(data-heading);
    font-size: 12rem;
    color: rgba($color-primary, 0.5);
    display: block;
    font-family: 'Permanent Marker', cursive;
    margin-bottom: -5rem;

    @include respond(tab-port) {
      font-size: 8rem;
      margin-bottom: -4rem;
    }

    @include respond(phone) {
      font-size: 6rem;
      margin-bottom: -3rem;
    }
  }

  @include respond(tab-port) {
    font-size: $font-bigger;
  }

  @include respond(phone) {
    font-size: $font-big;
  }

  &--thanks {
    @include respond(tab-port) {
      font-size: $font-big;
    }

    @include respond(phone) {
      font-size: $font-large;
    }

    &::before {
      @include respond(tab-port) {
        margin-bottom: -2rem;
      }
    }
  }
}

.text-white {
  color: rgba(255, 255, 255, 0.8);

  &::before {
    color: rgba(255, 255, 255, 0.8);
  }
}
