<!DOCTYPE html>
<HTML lang="ja">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9E0L4995WX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-9E0L4995WX');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="<%= require('../images/favicon.png') %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= require('../images/favicon.png') %>">
  <title>KYOYA DEV PORTFOLIO</title>
  <meta name="description" content="ノマドWeb制作フリーランスKYOYA DEVのポートフォリオサイトです">
  <script src=" https://sdk.form.run/js/v2/formrun.js">
  </script>
</head>

<body>
  <div class="wrapper">

    <header class="header">
      <div class="header__container">
        <div class="header__icon">
          <a href="#">
            <img src="<%= require('../images/kyoya_dev_icon.jpg') %>" alt="kyoya dev logo" class="header__icon--image">
          </a>
        </div>
        <nav class="header__nav">
          <ul class="header__list">
            <li class="header__item"><a href="#feature" class="header__link js-smooth-scroll">特徴</a></li>
            <li class="header__item"><a href="#about" class="header__link js-smooth-scroll">プロフィール</a></li>
            <li class="header__item"><a href="#works" class="header__link js-smooth-scroll">制作実績</a></li>
            <li class="header__item"><a href="#contact" class="header__link js-smooth-scroll">お問い合わせ</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <!-- ドロワーメニュー -->
    <div class="header__menu-icon">
      <div class="header__menu-icon__middle"></div>
    </div>
    <div class="header__drawer__bg"></div>
    <nav class="header__drawer">
      <ul class="header__drawer__list">
        <li class="header__drawer__item"><a href="#feature" class="header__drawer__link js-smooth-scroll">特徴</a></li>
        <li class="header__drawer__item"><a href="#about" class="header__drawer__link js-smooth-scroll">プロフィール</a></li>
        <li class="header__drawer__item"><a href="#works" class="header__drawer__link js-smooth-scroll">制作実績</a></li>
        <li class="header__drawer__item"><a href="#contact" class="header__drawer__link js-smooth-scroll">お問い合わせ</a>
        </li>
      </ul>
    </nav>

    <section class="hero ss-style-halfcircle">
      <p class="hero__bg-text">Web</p>
      <div class="hero__left">
        <h1 class="hero__left__title">Webの力でお手伝いします</h1>
        <p class="hero__left__text">
          はじめまして、小笠原と申します。<br class="hero__br">「<span>Webサイト制作</span>を通じて皆さまの問題を解決したい」、そうした想いで日々フリーランスとして活動しています。
        </p>
        <div class="btn btn--hero">
          <div class="btn__eff"></div>
          <a href="#contact" class="js-smooth-scroll">相談する</a>
        </div>
      </div>
      <div class="hero__right">
        <img src="<%= require('../images/hero_coding.svg') %>" alt="coding" class="hero__image">
      </div>
    </section>

    <section class="feature" id="feature">
      <h1 class="title-heading" data-heading="Feature">特徴</h1>

      <div class="feature__container main-container">

        <div class="feature__card reveal-item">
          <img src="<%= require('../images/handshake.svg') %>" alt="handshake" class="feature__icon">
          <div class="feature__text-box">
            <h2 class="feature__title">共に考える</h2>
            <p class="feature__text">Webサイトを作りたいがどうしたらよいか分からない…。ぜひ私がお力になります。あなたのビジネスを加速させる効果的なWeb施策をご提案いたします。</p>
          </div>
        </div>

        <div class="feature__card reveal-item">
          <img src="<%= require('../images/stair-up.svg') %>" alt="stair up" class="feature__icon">
          <div class="feature__text-box">
            <h2 class="feature__title">常に未来志向</h2>
            <p class="feature__text">Webサイト制作は手段に過ぎません。UX/UIを意識し、達成すべき目的を常に念頭において制作を進めていきます。資産となるWebサイトをつくりあげていきましょう。
            </p>
          </div>
        </div>

        <div class="feature__card reveal-item">
          <img src="<%= require('../images/web-code.svg') %>" alt="web code" class="feature__icon">
          <div class="feature__text-box">
            <h2 class="feature__title">確かなスキル</h2>
            <p class="feature__text">一般的なWeb制作に必要なコーディングスキルの習得はもちろん、移り変わりの激しい業界にキャッチアップできるよう日々自己研鑽に努めています。安心してお任せください。
            </p>
          </div>
        </div>

      </div>
    </section>

    <section class="about" id="about">
      <h1 class="title-heading" data-heading="About">自己紹介</h1>
      <div class="about__container main-container">
        <div class="about__image-box">
          <img src="<%= require('../images/kyoya.jpg') %>" alt="kyoya's photo" class="about__image">
        </div>
        <div class="about__content">
          <h2 class="about__title">小笠原京也（オガサワラキョウヤ）</h2>
          <p class="about__text">
            早稲田大学哲学科を卒業後、大学院生、シーシャカフェ店長、リサイクル屋、リフォーム職人、中小工務店の営業/経理、タイ留学など様々な経験をつんできた結果、Web制作という答えにたどり着きました。猛烈に学び、誠実にアウトプットします。自らの経験とスキルをまわりの方々の問題解決につなげていければ幸いです。1988年生まれ。宮城県育ち。タイを拠点に生活すべく奮闘中です（ただいま日本に帰国中）。
          </p>
        </div>
      </div>
      <div class="about__skill-container main-container">
        <p class="about__skill-title">対応可能言語およびスキル</p>
        <div class="about__skill-box">
          <div class="skill-icon">
            <img src="<%= require('../images/html.svg') %>" alt="html">
            <span>HTML</span>
          </div>
          <div class="skill-icon">
            <img src="<%= require('../images/css.svg') %>" alt="CSS">
            <span>CSS</span>
          </div>
          <div class="skill-icon">
            <img src="<%= require('../images/javascript.svg') %>" alt="JavaScript">
            <span>JavaScript</span>
          </div>
          <div class="skill-icon">
            <img src="<%= require('../images/wordpress.svg') %>" alt="WordPress">
            <span>WordPress</span>
          </div>
          <div class="skill-icon">
            <img src="<%= require('../images/bootstrap-4.svg') %>" alt="Bootstrap">
            <span>Bootstrap</span>
          </div>
          <div class="skill-icon">
            <img src="<%= require('../images/sass.svg') %>" alt="SASS">
            <span>SASS</span>
          </div>
          <div class="skill-icon">
            <img src="<%= require('../images/github.svg') %>" alt="github">
            <span>Github</span>
          </div>
          <div class="skill-icon">
            <img src="<%= require('../images/united-kingdom.svg') %>" alt="english">
            <span>英語</span>
          </div>
          <div class="skill-icon">
            <img src="<%= require('../images/thailand.svg') %>" alt="thai">
            <span>タイ語</span>
          </div>
        </div>
      </div>


    </section>

    <section class="works" id="works">
      <h1 class="title-heading" data-heading="Works">制作実績</h1>
      <div class="works__container main-container">

        <!-- KYOYA DEV -->
        <div class="works__item">
          <a href="" target="_blank" rel="noopener noreferrer">
            <figure>
              <img src="<%= require('../images/KYOYA-DEV-PORTFOLIO-s.jpg') %>" alt="KYOYA DEV画像" class="works__image">
            </figure>
          </a>
          <h2 class="works__title">＜OGA DEV＞</h2>
          <p class="works__description">
            当サイトです。デザインからコーディングまですべての工程を担当しました。ポートフォリオサイトとして王道のサイト構成を踏襲しつつ、人となりやスキルが素早く伝わるよう設計しました。Netlify + GitHub
            環境で公開しています。これからもさらなる改善に努めていく予定です。
          </p>
          <div class="btn btn--works">
            <a href="https://github.com/KYOYA-OGA/portfolio" target="_blank"
              rel="noopener noreferrer">Githubでコードを確認する</a>
          </div>
        </div>


        <!-- Nexter -->
        <div class="works__item">
          <a href="https://nexter-demo.netlify.app/" target="_blank" rel="noopener noreferrer">
            <figure>
              <img src="<%= require('../images/nexter-top-s.jpg') %>" alt="nexterトップ画像" class="works__image">
            </figure>
          </a>
          <h2 class="works__title">＜Nexter＞</h2>
          <p class="works__description">Jonas
            Schmedtmann氏のコースの題材となります。特徴的な写真の散りばめはCSSグリッドを用いることで可能にしています。シンプルながらもラグジュアリー感を演出する実装です。</p>
          <div class="btn btn--works">
            <a href="https://nexter-demo.netlify.app/" target="_blank" rel="noopener noreferrer">Webサイトで確認する</a>
          </div>
          <div class="btn btn--works">
            <a href="https://github.com/KYOYA-OGA/Nexter" target="_blank" rel="noopener noreferrer">Githubでコードを確認する</a>
          </div>
        </div>

        <!-- Natours -->
        <div class="works__item">
          <a href="https://natours-oga.netlify.app/" target="_blank" rel="noopener noreferrer">
            <figure>
              <img src="<%= require('../images/natours-s.jpg') %>" alt="natour画像" class="works__image">
            </figure>
          </a>
          <h2 class="works__title">＜Natours＞</h2>
          <p class="works__description">Jonas
            Schmedtmann氏のコースの題材となります。躍動感と遊び心に溢れたLPで、すべてのアニメーションがCSSで作られています。ぜひ実際のWebサイトで様々なアクションをお試しください。</p>
          <div class="btn btn--works">
            <a href="https://natours-oga.netlify.app/" target="_blank" rel="noopener noreferrer">Webサイトで確認する</a>
          </div>
          <div class="btn btn--works">
            <a href="https://github.com/KYOYA-OGA/Natours" target="_blank" rel="noopener noreferrer">Githubでコードを確認する</a>
          </div>
        </div>

        <!-- iSARA -->
        <div class="works__item">
          <a href="<%= require('../images/isara.life模写制作.jpg') %>" target="_blank" rel="noopener noreferrer">
            <figure>
              <img src="<%= require('../images/iSara-s.jpg') %>" alt="isaraLP" class="works__image">
            </figure>
          </a>
          <h2 class="works__title">＜isara.life模写制作LP＞</h2>
          <p class="works__description">
            バンコクでノマドエンジニア講座を開催しているiSARA様のLPの模写となります。LPの見本となるような記事構成で、CSSフレームワークはBootstrapを使用して作成しています。
          </p>
          <p class="works__description"><a href="http://isara.life/" target="_blank"
              rel="noopener noreferrer">模写元ページ(http://isara.life/)はこちら<img class="link-opener"
                src="<%= require('../images/open-external-link.svg') %>" alt="open external link icon" width="12"
                height="12"></a>
          </p>
          <div class="btn btn--works">
            <a href="<%= require('../images/isara.life模写制作.jpg') %>" target="_blank"
              rel="noopener noreferrer">全体を確認する</a>
          </div>
        </div>

        <!-- Fiction University -->
        <div class="works__item">
          <a href="http://kyoyao.sg-host.com/" target="_blank" rel="noopener noreferrer">
            <figure>
              <img src="<%= require('../images/fictional-university-s.jpg') %>" alt="仮想大学画像" class="works__image">
            </figure>
          </a>
          <h2 class="works__title">＜Fictional University＞</h2>
          <p class="works__description">Brad
            Schiff氏のコースの題材で、WordPressにて構築されています。完全オリジナルテーマで、カスタムクエリやカスタム投稿タイプのみならず、GoogleマップAPIとの連携やJavaScriptとWordPress
            REST APIを組み合わせたライブサーチなどを実装しています。</p>
          <div class="btn btn--works">
            <a href="http://kyoyao.sg-host.com/" target="_blank" rel="noopener noreferrer">Webサイトで確認する</a>
          </div>
        </div>

      </div>
    </section>


    <section class="contact" id="contact">
      <h1 class="title-heading text-white" data-heading="Contact">コンタクト</h1>
      <div class="main-container contact__container">
        <p class="contact__text">お仕事のご依頼はこちらからどうぞ</p>


        <form class="formrun contact__form" action="https://form.run/api/v1/r/dvclni9ua0q5jpc3cw7hehyy" method="post"
          data-formrun-saving="true">

          <div class="contact__box">
            <label class="contact__label"> <span class="contact__must">必須</span> お名前</label>
            <input name="お名前" type="text" class="contact__input" data-formrun-required>
            <div data-formrun-show-if-error="お名前" class="contact__error"><span class="contact__error--caution">
                !</span>お名前を入力してください</div>
          </div>

          <div class="contact__box">
            <label class="contact__label"><span class="contact__must">必須</span> メールアドレス</label>
            <input name="メールアドレス" type="text" data-formrun-type="email" data-formrun-required class="contact__input">
            <div data-formrun-show-if-error="メールアドレス" class="contact__error"><span class="contact__error--caution">
                !</span>メールアドレスを正しく入力してください</div>
          </div>

          <div class="contact__box">
            <label class="contact__label"><span class="contact__option">任意</span> お問い合わせ</label>
            <textarea name="お問い合わせ" class="contact__input contact__input-area"></textarea>
            <!-- <div data-formrun-show-if-error="お問い合わせ">お問い合わせを入力してください</div> -->
          </div>

          <!-- ボット投稿をブロックするためのタグ -->
          <div class="_formrun_gotcha">
            <style media="screen">
              ._formrun_gotcha {
                position: absolute !important;
                height: 1px;
                width: 1px;
                overflow: hidden;
              }
            </style>
            <label for="_formrun_gotcha">If you are a human, ignore this field</label>
            <input type="text" name="_formrun_gotcha" id="_formrun_gotcha" tabindex="-1">
          </div>

          <button type="submit" data-formrun-error-text="未入力の項目があります" data-formrun-submitting-text="送信中..."
            class="btn btn--contact">送信</button>
        </form>

      </div>
    </section>

    <footer>
      <div class="main-container footer__container">
        <p class="footer__copyright">
          &copy; 2020 <img src="<%= require('../images/code-logo.svg') %>" alt="kyoya dev logo"
            class="footer__logo">KYOYA-DEV
        </p>
      </div>
    </footer>


  </div>
</body>

</html>
