<!DOCTYPE html>
<HTML lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  <title>KYOYA'S ポートフォリオ</title>
</head>

<body>
  <header class="navigation">
    <div class="navigation__icon">
      アイコン
    </div>
    <nav class="navigation__nav">
      <ul class="navigation__list">
        <li class="navigation__item"><a href="" class="navigation__link">特徴</a></li>
        <li class="navigation__item"><a href="" class="navigation__link">プロフィール</a></li>
        <li class="navigation__item"><a href="" class="navigation__link">制作実績</a></li>
        <li class="navigation__item"><a href="" class="navigation__link">お問い合わせ</a></li>
      </ul>
    </nav>
  </header>

  <section class="hero">
    <p class="hero__bg-text">Web<br>Dev</p>
    <div class="hero__left">
      <h1 class="hero__left__title">Webの力でお手伝いします</h1>
      <p class="hero__left__text">はじめまして、小笠原と申します。「Webサイト制作を通じて皆さまの問題を解決したい」、そうした想いで日々フリーランスとして活動しています。</p>
      <div class="btn btn--hero">
        <div class="btn__eff"></div>
        <a href="#">相談する</a>
      </div>
    </div>
    <div class="hero__right">
      <img src="<%= require('../images/hero_coding.svg') %>" alt="">
    </div>
  </section>

  <section class="feature">
    <h1 class="title-heading" data-heading="Feature">特徴</h1>

    <div class="feature__container">

      <div class="feature__card">
        <img src="<%= require('../images/handshake.svg') %>" alt="" class="feature__icon">
        <div class="feature__text-box">
          <h2 class="feature__title">共に考える</h2>
          <p class="feature__text">Webサイトを作りたいがどうしたらよいか分からない…。ぜひ私がお力になります。あなたのビジネスを加速させる効果的なWeb施策をご提案いたします。</p>
        </div>
      </div>

      <div class="feature__card">
        <img src="<%= require('../images/handshake.svg') %>" alt="" class="feature__icon">
        <div class="feature__text-box">
          <h2 class="feature__title">もうひとつ</h2>
          <p class="feature__text"></p>
        </div>
      </div>

      <div class="feature__card">
        <img src="<%= require('../images/web-code.svg') %>" alt="" class="feature__icon">
        <div class="feature__text-box">
          <h2 class="feature__title">確かなコーディングスキル</h2>
          <p class="feature__text">Web制作に必要なスキルはもちろん、移り変わりの激しい業界にキャッチアップできるよう日々自己研鑽に努めています。</p>
        </div>
      </div>

    </div>
  </section>

  <section class="about">
    <h1 class="title-heading" data-heading="About">自己紹介</h1>
    <div class="about__container">
      <div class="about__image-box">
        <img src="<%= require('../images/kyoya.jpg') %>" alt="" class="about__image">
      </div>
      <div class="about__content">
        <h2 class="about__title">小笠原京也（オガサワラキョウヤと申します</h2>
        <p class="about__text">
          早稲田大学卒業後、大学院生、シーシャカフェ店長、リサイクル屋、リフォーム職人、営業、経理など様々な経験をつんできた結果、Web制作という天職にたどり着きました。自らの経験とスキルがお客さんの問題解決につながっていくことが何よりの喜びです。
        </p>

        <p class="about__skill-title">【対応可能言語およびスキル】</p>
        <div class="about__skill-box">
          <div class="skill-icon">
            <img src="<%= require('../images/html.svg') %>" alt="html" width="45" height="45">
            <span>HTML</span>
          </div>
          <div class="skill-icon">
            <img src="<%= require('../images/css.svg') %>" alt="CSS" width="45" height="45">
            <span>CSS</span>
          </div>
          <div class="skill-icon">
            <img src="<%= require('../images/javascript.svg') %>" alt="JavaScript" width="45" height="45">
            <span>JavaScript</span>
          </div>
          <div class="skill-icon">
            <img src="<%= require('../images/php.svg') %>" alt="PHP" width="45" height="45">
            <span>PHP</span>
          </div>
          <div class="skill-icon">
            <img src="<%= require('../images/wordpress.svg') %>" alt="WordPress" width="45" height="45">
            <span>WordPress</span>
          </div>
          <div class="skill-icon">
            <img src="<%= require('../images/bootstrap-4.svg') %>" alt="Bootstrap" width="45" height="45">
            <span>Bootstrap</span>
          </div>
          <div class="skill-icon">
            <img src="<%= require('../images/sass.svg') %>" alt="SASS" width="45" height="45">
            <span>SASS</span>
          </div>
          <div class="skill-icon">
            <img src="<%= require('../images/united-kingdom.svg') %>" alt="english" width="45" height="45">
            <span>英語</span>
          </div>
          <div class="skill-icon">
            <img src="<%= require('../images/thailand.svg') %>" alt="thai" width="45" height="45">
            <span>タイ語</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="works">
    <h1 class="title-heading" data-heading="Works">制作実績</h1>
    <div class="works__container">
      <h1 class="works__title">制作実績</h1>
      <div class="works__item">
        <img src="" alt="" class="works__image">
        <p class="works__text">詳細を見る</p>
      </div>
    </div>
  </section>

  <section class="contact">
    <h1 class="title-heading" data-heading="Contact">コンタクト</h1>
    google form埋め込む
  </section>

  <footer>
    <p class="footer__copyright">
      &copy; 2020　キョウヤ
    </p>
  </footer>
</body>

</html>
