<!DOCTYPE html>
<HTML lang="ja">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9E0L4995WX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-9E0L4995WX');
  </script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="<%= require('../images/favicon.png') %>">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= require('../images/favicon.png') %>">
  <title>KYOYA DEV PORTFOLIO</title>
  <script src="https://sdk.form.run/js/v2/formrun.js"></script>
</head>

<body>
  <section class="thanks">
    <div class="thanks__container">
      <h1 class="title-heading text-white title-heading--thanks" data-heading="Thank you">お問い合わせありがとうございました</h1>
      <p class="thanks__text">この度はKYOYA DEVにお問い合わせいただきありがとうございました。<br>確認次第、早急にご返信いたしますので今しばらくお待ちくださいませ。</p>
      <div class="btn btn--hero">
        <div class="btn__eff"></div>
        <a href="https://kyoya.dev">ホームに戻る</a>
      </div>
    </div>
  </section>
</body>

</html>
