.about {
  // height: 60vh;
  margin-top: 10rem;
  padding: 6rem 0 10rem;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-grey-light, 1),
    rgba($color-grey-light, 0.3)
  );

  &__container {
    display: flex;
    margin: 0 auto;
  }

  &__image-box {
    @include position-center();
    flex: 1;
  }

  &__image {
    width: 35rem;
    // border: 10px solid $color-grey-dark-1;
    border-radius: 50%;
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-grey-dark-1;
  }

  &__title {
    text-align: left;
    font-size: $font-large;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: $font-medium;
  }

  &__skill-container {
    margin-top: 3rem;
    text-align: center;
  }

  &__skill-title {
    display: inline-block;
    font-size: $font-big;
    margin-bottom: 2.5rem;
    background: linear-gradient(transparent 80%, $color-primary-light 80%);
  }

  &__skill-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.skill-icon {
  font-size: $font-large;
  margin-bottom: 2rem;

  &:not(:last-child) {
    margin-right: 2.5rem;
  }
  & img {
    margin: 0 auto;
  }
}
