.contact {
  background-image: linear-gradient(
    to bottom right,
    rgba($color-primary-dark, 0.8),
    rgba($color-primary-light, 0.8)
  );
  padding: 6rem 0;

  &__container {
    text-align: center;
  }

  &__text {
    font-size: $font-large;
    font-weight: 600;
    color: #fff;
    margin-bottom: 5rem;

    @include respond(phone) {
      font-size: $font-medium;
    }
  }

  &__form {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    font-size: $font-medium;

    @include respond(phone) {
      width: 90%;
      font-size: $font-default;
    }
  }

  &__box {
    margin-bottom: 5rem;
  }

  &__label {
    font-weight: bold;
    color: #fff;
  }

  &__input {
    width: 100%;
    padding: 8px 15px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid $color-grey-light;
    border-radius: 3px;
  }

  &__input-area {
    height: 200px;
  }

  &__must {
    color: #fff;
    margin-right: 5px;
    padding: 6px 10px;
    background: $color-secondary;
    border-radius: 20px;
  }

  &__option {
    color: #fff;
    margin-right: 5px;
    padding: 6px 10px;
    background: $color-grey-dark-2;
    border-radius: 20px;
  }

  &__error {
    color: #fff;
    display: inline-block;
    margin-top: 5px;
    border-radius: 3px;
    padding: 5px;

    &--caution {
      background-color: $color-secondary;
      padding: 5px 10px;
      border-radius: 50%;
      margin-right: 2px;

      @include respond(phone) {
        padding: 1px 8px;
      }
    }
  }
}
