.feature {
  margin: 0 auto;
  padding: 6rem 0;
  color: $color-grey-dark-1;

  &__container {
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
  }

  &__card {
    width: 30rem;
    border: thick double $color-primary-light;
    padding: 3rem;
    border-radius: 10px;
    text-align: center;
  }

  &__icon {
    display: inline-block;
    height: 10rem;
    width: 10rem;
    padding: 1rem 1.5rem;
    margin-top: -8rem;
    background-color: #fff;

    &--code {
    }
  }

  &__text-box {
  }

  &__title {
    font-size: $font-large;
    margin-bottom: 0.5rem;
  }

  &__text {
    font-size: $font-medium;
  }
}
