.header {
  position: fixed;
  z-index: 140;
  width: 100%;
  height: 60px;
  background-color: #fff;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;

    @include respond(tab-land) {
      width: 90%;
    }
  }

  &__icon {
    height: 60px;
    @include position-center();

    &--image {
      height: 50px;
      @include respond(phone) {
        height: 30px;
      }
    }
  }

  &__nav {
    @include respond(tab-port) {
      display: none;
    }
  }

  &__list {
    display: flex;
    font-size: $font-medium;
    font-weight: 600;

    @include respond(tab-land) {
      font-size: $font-default;
    }
  }

  &__item {
    line-height: 60px;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 5rem;

      @include respond(tab-land) {
        margin-right: 4rem;
      }
    }
  }

  &__link {
    text-decoration: none;
    color: $color-grey-dark-2;
    position: relative;

    &::after {
      position: absolute;
      bottom: -4px;
      left: 0;
      content: '';
      width: 100%;
      height: 5px;
      background-color: $color-secondary;
      transform: scale(0, 1);
      transform-origin: left top;
      transition: transform 0.3s ease-in-out;
    }

    &:hover::after {
      transform: scale(1, 1);
    }
  }

  //ハンバーガーメニュー

  &__menu-icon {
    border-radius: 10px;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;
    transition: transform 0.3s ease-in-out;
    z-index: 200;
    display: none;

    @include respond(tab-port) {
      display: block;
    }

    &::before {
      content: '';
      position: absolute;
      top: 20px;
      left: 15px;
      width: 30px;
      height: 3px;
      background-color: #5e5e5d;
      transform-origin: 0 0;
      transition: all 0.3s ease-out;
    }

    &__middle {
      position: absolute;
      top: 30px;
      left: 15px;
      width: 30px;
      height: 3px;
      background-color: #5e5e5d;
      transition: all 0.3s ease-out;
      transform-origin: 0 50%;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 17px;
      left: 15px;
      width: 30px;
      height: 3px;
      background-color: #5e5e5d;
      transform-origin: 0 100%;
      transition: all 0.3s ease-out;
    }

    &--close {
      &::before {
        background-color: #fff;
        transform: rotate(45deg) scaleX(1.25) translateY(-4px);
      }

      .header__menu-icon__middle {
        opacity: 0;
        transform: scaleX(0);
      }

      &::after {
        z-index: 300;
        background-color: #fff;
        transform: rotate(-45deg) scaleX(1.25) translateY(3px);
      }
    }
  }

  &__drawer__bg {
    width: 100vw;
    height: 100vh;
    background-color: $color-grey-dark-1;
    z-index: -150;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;

    &--visible {
      z-index: 150;
      opacity: 0.8;
      visibility: visible;
    }
  }

  &__drawer {
    padding-top: 9rem;
    z-index: 100;
    position: fixed;
    top: 0;
    right: 0;
    width: 40vw;
    height: 100%;
    background-color: $color-grey-dark-1;
    // transform: translateX(100%);
    transition: all 0.3s ease-in-out;
    z-index: -100;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);

    @include respond(phone) {
    }

    &--visible {
      opacity: 1;
      z-index: 151;
      visibility: visible;
      transform: translateX(0);
    }

    &__list {
      font-size: $font-medium;
      text-align: center;

      @include respond(phone) {
        font-size: $font-default;
      }
    }

    &__item {
      display: block;
      padding: 1.6rem;
    }

    &__link {
      color: #fff;
      text-decoration: none;
    }
  }
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
