.hero {
  position: relative;
  margin-top: 60px;
  padding-top: -60px;
  position: relative;
  display: flex;
  padding: 3rem 0;
  background-image: linear-gradient(
    to bottom right,
    rgba($color-primary-dark, 0.8),
    rgba($color-primary-light, 0.8)
  );

  @include respond(tab-port) {
    padding: 10rem 0;
  }

  @include respond(phone) {
    flex-direction: column;
    padding: 4.5rem 0;
  }

  &__left {
    flex: 1;
    @include position-center();
    flex-direction: column;
    width: 80%;
    color: #fff;

    @include respond(tab-port) {
      width: 100%;
    }

    @include respond(phone) {
      text-align: center;
    }

    &__title {
      font-size: $font-bigger;
      margin-bottom: 5px;

      @include respond(big-desktop) {
        font-size: $font-mega;
      }

      @include respond(tab-land) {
        font-size: $font-big;
      }

      @include respond(tab-port) {
        font-size: $font-large;
      }

      @include respond(phone) {
        font-size: $font-large;
      }
    }

    &__text {
      font-size: $font-large;
      width: 60%;
      & span {
        background: linear-gradient(
          transparent 70%,
          $color-secondary-light 70%
        );
      }

      @include respond(tab-land) {
        font-size: $font-medium;
      }

      @include respond(tab-port) {
        font-size: $font-default;
        width: 75%;
      }

      @include respond(phone) {
        width: 75%;
      }
    }
  }

  &__right {
    flex: 1;
  }

  &__image {
    width: 90%;
    margin: 0 auto;

    @include respond(phone) {
      position: relative;
    }

    @include respond(tab-port) {
      width: 90%;
    }

    @include respond(phone) {
      width: 60%;
      opacity: 0.6;
      margin-top: 2rem;
      // position: absolute;
      // top: 50%;
      // left: 70%;
    }
  }

  &__bg-text {
    font-size: 20rem;
    position: absolute;
    top: 0;
    left: 0%;
    opacity: 0.1;
    transform: rotate(-5deg);
    color: #fff;
    font-family: 'Permanent Marker', cursive;

    @include respond(big-desktop) {
      font-size: 25rem;
    }

    @include respond(tab-land) {
      font-size: 18rem;
    }

    @include respond(tab-port) {
      font-size: 15rem;
    }

    @include respond(phone) {
      display: none;
    }
  }

  &__br {
    @include respond(tab-land) {
      display: none;
    }
  }
}
