.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color-white, 0.92);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;

  &__inner {
    width: 60%;
    display: flex;
    justify-content: space-around;
  }

  &__link {
    cursor: pointer;
  }

  &__image {
    max-width: 600px;
    display: inline-block;
  }

  &__content {
    margin-left: 5rem;
  }

  &__title {
    font-size: $font-big;
    margin-bottom: 1rem;
    // background: linear-gradient(transparent 80%, $color-secondary-light 80%);
    display: inline-block;
  }

  &__text {
    font-size: $font-default;
    width: 80%;
    margin-bottom: 1rem;
  }
}
